@import "tailwindcss";

@theme inline {
    --color-custom-grey-50: #FAFAFA;
    --color-custom-grey-900: #333333;
    --color-custom-grey-500: #737373;
    --color-custom-grey-200: #D9D9D9;
    --color-custom-purple-600: #633CFF;
    --breakpoint-custom-sm: 475px;
}

@layer base {
    .autocomplete-highlight:has(input:-webkit-autofill) {
        background-color: rgb(239 246 255) !important;
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }
}

.instrument-sans {
    font-family: var(--font-instrument-sans);
}