@import "tailwindcss";

@theme inline {
    --color-custom-grey-50: #FAFAFA;
    --color-custom-grey-900: #333333;
    --color-custom-grey-500: #737373;
    --color-custom-grey-200: #D9D9D9;
    --color-custom-purple-600: #633CFF;
}

.instrument-sans {
    font-family: var(--font-instrument-sans);
}
